<main class="container-fluid text-white">
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">4</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <span class="particle">0</span>
  <article class="content text-white">
    <strong>UUUPS...</strong>
    <p class="my-6 text-white">
      No encontramos la página que estabas buscando <br />
      PERO, no te preocupes, puedes Volver al Inicio
    </p>
      <button class="text-indigo-400  text-1xl " routerLink="/home">
        Volver al Inicio
      </button>
  </article>
</main>
